<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>HARD HAT</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
        /* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */
        body {
            margin: 0;
            padding: 0;
            font-family: 'Gotham', 'Arial', 'sans-serif';
        }

        img {
            border: 0 none;
            /*   height: auto; */
            line-height: 100%;
            outline: none;
            text-decoration: none;
        }

        img+div {
            display: none;
        }
        
        a img {
            border: 0 none;
        }

        .imageFix {
            display: block;
        }


        table,
        td {
            border-collapse: collapse;
        }

        x sup {
            font-size: 55%;
            line-height: 0;
            vertical-align: super;
            mso-text-raise: 55%;
        }

        .set-height-1 {}

        .set-height-3 {
            height: 187px !important;
        }

        /*#bodyTable {
            height: 100% !important;
            margin: 0;
            padding: 0;
            width: 100% !important;
        }*/
        .m-br {
            display: block !important;
        }

        .mustard{
            color: #FFCF00;
        }




        @media only screen and (min-width: 320px) and (max-width: 480px) {
            .mobile-width {
                width: 100% !important;
            }   
            .email-result {
                padding-left: 30px;
                padding-right: 30px;
            }
        }

        @media only screen and (min-width: 450px) {
            .hardhat-logo {
                padding-left: 25px;
            }
        }
    </style>
    <!--[if gte mso 9]>
        <style>
            sup { vertical-align: top; }
        </style> 
    <![endif]-->
</head>

<body style="font-family: 'Gotham','Arial', 'sans-serif'; background: #333;">
    <table height="100%" width="100%" style="background: #333;">
        <tbody>
            <tr>
                <td align="center" valign="top" style="height: 100%; width: 100%; border-top: 0; margin :0;padding:0;"
                    class="mobile-width">
                    <table border="0" cellpadding="0" width="600" class="mobile-width"
                        style="padding-left: 62px; padding-right:62px; padding-bottom:50px; padding-top:50px; display: block;">
                        <tbody>
                            <tr>
                                <td>

                                    <table border="0" cellpadding="0" class="mobile-width"
                                        style=" margin-bottom:72px; display: block;">
                                        <tbody>
                                            <tr style="width: 100%; display: block;">
                                                <td style=" display: block; text-align: center;">
                                                    <img src="https://firebasestorage.googleapis.com/v0/b/uat-hh.appspot.com/o/edm%2FHHA-logo.png?alt=media&token=b79346de-2b16-4aa4-a2ab-1a3f5af5a1a0"
                                                        height="65" width="420" alt="Hardhat Logo" class="hardhat-logo"
                                                        style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 0px;" />
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table border="0" cellpadding="0" class="mobile-width email-result"
                                        style="padding-top:31px; padding-bottom:40px; padding-left: 41px; padding-right:41px; display: block; background: #1C1C1C;">
                                        <tbody style="width: 100%; display: block;">
                                            {{{heading}}}
                                            <tr style="width: 100%; display: block; margin-bottom: 16px;">
                                                <td class="mobile-width" style="display: block; text-align: left;">
                                                    <h2
                                                        style="font-weight: 700; font-size: 14px; line-height:23px; letter-spacing: 1px; display:block; margin-bottom:16px; color: #fff">
                                                        Hi {{username}},</h2>
                                                </td>
                                            </tr>
                                            {{{ message }}}
                                        </tbody>
                                    </table>

                                     <table border="0" cellpadding="0" class="mobile-width"
                                        style=" display: block; border-bottom: 1px solid #B7B7B7; padding-top: 24px; padding-bottom: 38px; padding-left: 5px;  padding-right: 5px;">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table border="0" cellpadding="0" width="474">
                                                        <tbody>
                                                            <tr>
                                                                <td style="text-align: left; width: 70%;">
                                                                    <a href="http://uat-hh.web.app/" target="_blank"
                                                                        style="font-size: 10px; font-weight: 400; line-height: 14px; color: #FFCF00; display: inline-block; vertical-align: middle; text-decoration: none; ">Visit and add us to your home screen</a>
                                                                    <img src="https://firebasestorage.googleapis.com/v0/b/uat-hh.appspot.com/o/edm%2Ffooter-logo.png?alt=media&token=28a5f0e5-4bf9-4593-8187-c061065a05a0" height="21" width="133"
                                                                        alt="Hardhat Logo" class="footer-logo"
                                                                        style="display: inline-block; margin-left: 0; margin-right: 0; vertical-align: middle;" />
                                                                </td>
                                                                <td style="text-align: right; width: 30%;">
                                                                    <span style="font-size: 10px; font-weight: 400; line-height: 14px; color: #FFCF00; display: inline-block; vertical-align: middle; text-decoration: none; ">Follow us on</span>
                                                                    <img src="https://firebasestorage.googleapis.com/v0/b/uat-hh.appspot.com/o/edm%2Ffacebook.png?alt=media&token=b3898d3f-e4d2-4096-a8ab-bcbb95b85c59" height="20" width="20" alt="facebook Logo" class="facebook-logo" style="display: inline-block; margin-left: 0; margin-right: 0; vertical-align: middle;" />
                                                                    <img src="https://firebasestorage.googleapis.com/v0/b/uat-hh.appspot.com/o/edm%2Finstagram.png?alt=media&token=6f6acc4e-a355-4899-98ff-0fc7c1451fab" height="22" width="22" alt="instagram Logo" class="instagram-logo" style="display: inline-block; margin-left: 0; margin-right: 0; vertical-align: middle; margin-right: 3px;" />
                                                                    <img src="https://firebasestorage.googleapis.com/v0/b/uat-hh.appspot.com/o/edm%2Fyoutube.png?alt=media&token=788b5537-08dd-40f9-abca-6b7cc64d8458" height="20" width="20" alt="youtube Logo" class="youtube-logo" style="display: inline-block; margin-left: 0; margin-right: 0; vertical-align: middle;" />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                   <table border="0" cellpadding="0" class="mobile-width"
                                        style=" display: block; border-bottom: 1px solid #B7B7B7; padding-top: 24px; padding-bottom: 28px; padding-left: 10px; padding-right: 80px;">
                                        <tbody>
                                            <tr>
                                                <td style="width: 18%;">
                                                    <img src="https://firebasestorage.googleapis.com/v0/b/uat-hh.appspot.com/o/edm%2Ffooter-phone.png?alt=media&token=583a778f-0c43-44a6-9e44-14d5eafbc91f" height="24" width="24" alt="Phone Logo"
                                                        class="phone-logo" style="display: inline-block;" />
                                                </td>
                                                <td style="width: 82%;">
                                                    <p
                                                        style="font-weight: 400; font-size: 10px; line-height: 14px; color: #fff;">
                                                        Connect with us! Follow HardHat Asia on Fcebook or Instagram today. Need help? Email us at <a class="mustard" style="color: #FFCF00 !important; text-decoration: none;" href="mailto:help@hardhatasia.com"> help@hardhatasia.com</a> or call <span class="mustard">0917xxxxxx.</span>
                                                       </p>
                                                </td>

                                            </tr>
                                        </tbody>
                                    </table>


                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>
